doctype
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        base(href='/')
        block meta-block
        link(href="/img/favicon.png", rel="shortcut icon", type="image/x-icon")
        title TuneIn Web Project
        meta(name='description', content='TuneIn Web Project')
        link(rel='stylesheet', href='/styles/simplegrid.css')
        link(rel='stylesheet', href='/styles/site.css')

    body
        block root-content

        block append-scripts